<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>


    <meta name="copyright" content="Tran Engineering, Khôi Tran">
    <meta name="description"
          content="Tran Engineering - Software development for all your needs. We develop software specifically tailored to your company.">
    <meta name="keywords"
          content="software development, java, python, javascript, actionscript, c#, oracle, mysql, mariadb, mongodb, nosql">
    <meta name="author" content="Tran Engineering, Khôi Tran">

  </head>
  <body>

  </body>
</html>